@font-face {
  font-family: "GmarketSansLight";
  src: url(../fonts/GmarketSansTTFLight.woff) format("woff");
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url(../fonts/GmarketSansTTFMedium.woff) format("woff");
}

@font-face {
  font-family: "GmarketSansBold";
  src: url(../fonts/GmarketSansTTFBold.woff) format("woff");
}
