@import "variables", "mixins", "reset", "fonts";

html::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
  background-color: $bg;
}

.wrap {
  width: 100vw;

  #header {
    width: 100%;
    height: 100px;
    padding: 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hd_title {
      img {
        width: 300px;
      }
    }
    .hd_gnb {
      ul {
        display: flex;
        gap: 100px;
        li {
          font-family: "GmarketSansMedium";
          font-size: 20px;
        }
      }
    }
  }

  #main {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 0 150px;
    .company_nav {
      margin: 30px 0 100px 0;
      ul {
        display: flex;
        gap: 50px;
        justify-content: center;
        font-size: 18px;
        li:first-child {
          font-family: "GmarketSansMedium";
          border-bottom: 1px solid $white;
        }
      }
    }
    .introduce_txt {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h2 {
        color: $primary;
        font-size: 30px;
        margin-bottom: 20px;
        font-family: "GmarketSansMedium";
        strong {
          font-size: 40px;
          font-family: "GmarketSansBold";
        }
      }
      p {
        font-size: 18px;
      }
    }
    .introduce_card {
      padding-top: 80px;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        li {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 20%;
          height: 360px;
          background: linear-gradient(
            135deg,
            rgb(255, 255, 255),
            rgba(255, 255, 255, 0.4) 30%
          );
          border-radius: 30px;
          border: solid 1px var(--color-gray);
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
          box-shadow: 0 4px 34px rgba(0, 0, 0, 0.15);
          svg {
            margin-bottom: 30px;
          }
          p {
            strong {
              font-family: "GmarketSansMedium";
            }
          }
        }
      }
    }
  }

  #main_goal {
    width: 100%;
    height: calc(100vh - 100px);
    padding: 0 150px;
    .company_nav {
      margin: 30px 0 100px 0;
      ul {
        display: flex;
        gap: 50px;
        justify-content: center;
        font-size: 18px;
        li:nth-child(2) {
          font-family: "GmarketSansMedium";
          border-bottom: 1px solid $white;
        }
      }
    }
  }

  #footer {
    width: 100%;
    height: 200px;
    border-top: 1px solid #5e5e5e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .ft_left {
      padding-left: 150px;
      img {
        width: 180px;
        margin-bottom: 10px;
      }
      p {
        strong {
          font-family: "GmarketSansMedium";
        }
      }
    }
    .ft_right {
      padding-right: 150px;
      text-align: right;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .ft_link {
        margin-bottom: 10px;
        ul {
          display: flex;
          gap: 30px;
          li {
            font-family: "GmarketSansMedium";
          }
        }
      }
      .ft_sns {
        ul {
          display: flex;
          gap: 10px;
          li {
            width: 40px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
